* {
    box-sizing: border-box;
    padding: 0 auto;

}
body {
    background:#FFFFFF;
}

#textF{
    font-weight: 700;
    color:black;
}
#textL{
    font-weight: 700;
    color: #006699;
}

#headerlow {
    display: flex;
    height: 60px;
}

#headerlow ul {
    margin: auto;
    display: flex;
    gap: 50px;
    font-size: 16px;
    height: 50px;
    list-style: none;

}
#headerlow a{
    margin:auto;
    display: flex;
    font-weight: 700;
    color: #4B545A;
    text-decoration: none;
    letter-spacing: 0.02em;
}

#headerlow #text:hover{
    color: #0F75BC;
}

#line {
    margin: 0px 30px 10px;
    border: none;
    height: 2px;
    background: linear-gradient(180deg, rgba(12, 218, 246, 0.72) 0%, rgba(37, 124, 255, 0.64) 100%);
}
#author{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(12, 31, 70, 0.18);
    text-align: center;
}
/* ข่าวสารประชาสัมพันธ์ */
#postBody #postTitle {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px;
    gap: 10px;
}
#postBody #postTitle .textHeadTitle {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #0F75BC;
    flex: none;
    order: 0;

}
#postBody #postTitle .textBodyTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #4B545A;
    flex: none;
    order: 1;
    flex-grow: 0;
}

#postBody #textMore{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #0F75BC;
    flex: none;
    order: 3;
    flex-grow: 0;
}

/* ศิษย์เก่าดีเด่น */
#reputationBody {
    background: linear-gradient(180deg, #0F75BC 0%, rgba(15, 117, 188, 0.5) 100%);
    flex: none;
    order: 4;
    flex-grow: 0;
}
#reputationBody #reputationTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#reputationBody #reputationTitle #lineTop {
    width: 500px;
    height: 3px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#reputationBody #reputationTitle .textHeader {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
#reputationBody #reputationTitle #lineLow {
    width: 100%;
    height: 3px;
    background: #FFFFFF;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding: 0px;
}
#reputationBody #reputationcontent{
    display: flex;
    margin: 0 auto;
    padding: 0px;
    border :0px;

}
 #reputationCard {
    left: 0px;
    top: 0px;
    border: 0px;
    border-width: 0px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    background: none ;
}
#reputationCard #reputationCardContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    left: 1px;
    height: 100%;
    width: 100%;
    background: rgb(7, 75, 121);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.413);
}
#reputationCard #reputationCardContent #reputationTextTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#reputationCard #reputationCardContent #reputationTextName {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
 #reputationCard #reputationCardContent #reputationTextRepu {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
 #reputayionBtn{
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    padding:9px;
    border-color:#0F75BC;
    color: #0F75BC;
}

#reputayionBtn:hover{
    color:#FFFFFF;
    background-color:#0F75BC;
}
#event #lineEvent {
    width: 100%;
    height: 2px;
    background: #0F75BC;
    align-content:center;
    flex: none;
}
/* Event */
#event {
    margin: 0 auto;
    background: #FFFFFF;
}
#event #eventTitle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #0F75BC;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#event #eventCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.25);
    flex: none;
    order: 0;
    flex-grow: 0;
}
#event #eventCardItem {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 10px;
    height: 100%;
    background: #FFFFFF;
    order: 0;
    flex-grow: 0;
}
#event #eventCardItem #eventText {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    color: #0F75BC;
    text-shadow: 0 2px 5px rgba(12, 31, 70, 0.05);
}
#footer {
    margin: 0 auto;
    display: flex;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-shadow: 0 2px 5px rgba(12, 31, 70, 0.05);
    background: #0F75BC;
    width: 100%;
}
#mainPosts {
    background: #FFFFFF;
}

